@font-face {
  font-family: 'Inter';
  src: url("../../fonts/Inter/Inter-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../../fonts/Inter/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../../fonts/Inter/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../../fonts/Inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../../fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../../fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../../fonts/Inter/Inter-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../../fonts/Inter/Inter-ExtraLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../../fonts/Inter/Inter-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

:root {
  --blue: #0B55F3;
  --lightBlue: #749EF8;
  --darkBlue: #131f41;
  --yellow: #F4AA0B;
  --jsYellow: #f7df1e;
  --evYellow: #e59808;
  --recomercemRed: #B51D19;
}

.container {
  width: 100%;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: whitesmoke;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
}

header {
  min-width: 773px;
  background-color: #131f41;
  -webkit-box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.75);
  position: -webkit-sticky;
  position: sticky;
}

.container {
  width: 100%;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.nav-trail {
  width: 100%;
  min-width: 165px;
  max-width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 200px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 180px;
}

.icon {
  fill: white;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.icon:hover {
  fill: #5178d6;
  cursor: pointer;
}

.options-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options {
  font-weight: 700;
  font-size: 20px;
  min-width: 400px;
  max-width: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 30px;
  padding-right: 30px;
}

.options a {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: white;
}

.cmd-link__icon {
  width: 128px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 1px 3px rgba(128, 128, 128, 0.699);
          box-shadow: inset 0px 0px 1px 3px rgba(128, 128, 128, 0.699);
}

.langBtn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #F5F5F5;
}

.langBtn:hover {
  -webkit-box-shadow: inset 0px 0px 1px 3px #749EF8;
          box-shadow: inset 0px 0px 1px 3px #749EF8;
}

.content {
  padding-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.cardSection-wrapper {
  margin-bottom: 2rem;
  border-radius: 24px;
  background-color: whitesmoke;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.header-icon {
  margin-right: 16px;
}

.diw-header {
  color: white;
  background-color: #2962ff;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
}

.recomercem-header {
  color: white;
  background-color: #B51D19;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
}

.js-header {
  color: black;
  background-color: #f7df1e;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
}

.ev-header {
  color: black;
  background-color: #e59808;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
}

.grid-item {
  color: #24272E;
  background-color: white;
  border-radius: 16px;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  padding: 48px 24px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.grid-item:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  cursor: pointer;
  -webkit-box-shadow: 0px 13px 10px -4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 13px 10px -4px rgba(0, 0, 0, 0.25);
}

.grid-container {
  padding: 2rem 2rem 5rem 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  grid-auto-columns: auto;
}

.itemLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fab {
  width: 62px;
  height: 62px;
  background-color: #F44336;
  border-radius: 360px;
  position: fixed;
  right: 24px;
  bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(0);
          transform: scale(0);
}

.fab:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
/*# sourceMappingURL=style.css.map */