@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-ExtraLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

$font: "Inter",
sans-serif;
$color-primary: #0B55F3;
$color-secondary: #5178d6;
$color-accent: #F4AA0B;
$color-dark: #24272E;
$color-light: #749EF8;
$color-grey: #F5F5F5;


a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

body {
  background-color: whitesmoke;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

header {
  min-width: 773px;
  background-color: $color-dark;
  box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.75);
  position: sticky;

}


.nav {
  min-height: 100px;
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.nav-trail {
  width: 100%;
  min-width: 165px;
  max-width: 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 200px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 180px;
}

.icon {
  fill: white;
  transition: all 0.25s ease-in-out;

  &:hover {
    fill: $color-secondary;
    cursor: pointer;
  }
}

.options-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.options {
  font-weight: 700;
  font-size: 20px;
  min-width: 400px;
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-left: 30px;
  padding-right: 30px;

  a {
    transition: all 0.25s ease-in-out;
    color: white;

    &:hover {
      color: $color-light;
    }
  }

}


.content {
  border-radius: 24px;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: lightgray;
  margin-top: 2rem;
  color: black;
  overflow: hidden;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);

  a {
    transition: all 0.25s ease-in-out;
    color: black;

    &:hover {
      color: $color-light;
    }
  }
}

.js-header{
  background-color: #f7df1e;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.js-grid-container {
  padding: 2rem 2rem 5rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 1.5rem;
  grid-auto-columns: auto;
}


.js_item {
  color: white;
  background-color: #24272E;
  border-radius: 16px;
  transition: all 0.25s ease;
  padding: 48px 24px;
  box-shadow: 0px 13px 10px -10px rgba(0, 0, 0, 0.75);


  &:hover {
    cursor: pointer;
    box-shadow: 0px 13px 10px -4px rgba(0, 0, 0, 0.75);
  }
}





.button {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  align-items: center;
  transition: all 0.2s ease-in;
  outline: none;
  cursor: pointer;
  box-shadow: inset 0px 0px 1px 3px rgba(128, 128, 128, 0.699);
}

.langBtn {
  display: inline-flex;
  background-color: $color-grey;

  &:hover {
    box-shadow: inset 0px 0px 1px 3px $color-light;
  }
}




@function rem($px) {
  @return $px / $font_size+rem;
}