.portfolio-items__wrapper{
    width: 100vw;
    margin-left: 15px;
}

.portfolio-items__list{
    display: flex;
    width: fit-content;
}


.portfolio-item{
    border-radius: 8px;
    width: 300px;
    margin-right: 15px;
    height: 150px;
    background-color: lightgreen;

    &.active{
        border: 2px solid blue;
    }

    &:hover{
        cursor: pointer;
    }
}