.header {
  background-color: rgba(62, 3, 189, 0.96);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  position: sticky;
  top: 0;
  left: 0;
  height: 90px;
  padding-left: 32px;
  display: flex;
  justify-content: space-between;
  z-index: 5000;
  transition: transform 0.3s ease;

  a {
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (max-width: 768px) {
    padding-left: 20px;
  }

  &.hide {
    transform: translateY(-90px);
    box-shadow: none;
  }
}

.header-main {
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 125px;
}

.main-nav {
  margin-left: 60px;

  @media (max-width: 830px) {
    margin-left: 45px;
  }
  // Medium devices (tablets, 768px and up)
  @media (max-width: 768px) {
    display: none;
  }

  a {
    margin-right: 20px;
    color: white;
    font-weight: 500;

    @media (max-width: 830px) {
      margin-right: 10px;
    }
  }
}

.header-trail {
  display: flex;
  align-items: center;
}


.cmd-link {
  width: 32px;
  height: 32px;
  background-image: url('../assets/icons/ui/cmd.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 3s ease;

  &:hover {
    // width: 45px;
    // height: 45px;
    // background-image: url('../assets/icons/ui/next.svg');
  }

  &-wrapper {
    width: 70px;
    height: 100%;
    background-color: black;
    position: relative;

    @media (min-width: 576px) {
      margin-left: 20px;
    }
  }
}


.open-menu {
  margin-left: 10px;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../assets/icons/ui/menu.svg');
  transition: all 0.2s ease;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 576px) {
    margin-right: 20px;
    margin-left: 20px;
  }

}

.socials {
  a {
    margin-left: 20px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  background-color: $dark;
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.10);
  padding: 32px;
  max-width: 200px;
  width: 100%;
  position: fixed;
  top: 90px;
  bottom: 0;
  right: 0;
  transform: translateX(105%);
  z-index: 1000;
  transition: all cubic-bezier(0.92, 0.07, 0.42, 0.59) 0.3s;

  a {
    margin-bottom: 20px;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }



  @media (min-width: 768px) {
    display: none;
  }

  &.active {
    transform: translateX(0px);
  }
}

.nav-mobile-overlay {
  z-index: 500;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(110%);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity .3s ease-in-out;

  @media (min-width: 768px) {
    display: none;
  }

  &.active {
    opacity: 1;
    transform: translateX(0);
  }
}