html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  color: #333;
}

a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  max-height: 100%;
}

iframe {
  border-radius: 8px;
  border: none;
  width: 100%;
  min-height: 350px;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.9);
  width: 100%;
}

button[type="submit"] {
  outline: none;
}

.button {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  width: fit-content;
  font-weight: 700;
  letter-spacing: 1.1px;
  font-size: 14px;
  border-radius: 6px;
  padding: 6px 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease;
  outline: none;
  color: white;

  &:hover {
    cursor: pointer;
  }

  &--primary {
    background-color: $dark;
  }

  &-icon {
    background-position: 0 50%;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 32px;
  }

  &--rounded {
    border-radius: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  &--outline {
    background-color: white;

    &--primary {
      color: $dark;
      border: 1px solid $dark;

      &:hover {
        color: white;
        background-color: $dark;
      }
    }
  }
}

.target-link {
  display: inline-block;
  background-color: black;
  border-radius: 24px;
  background-position: calc(100% - 18px) 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  padding: 12px 50px 12px 18px;
  transition: all 0.2s ease;

  &--website {
    background-image: url("../assets/icons/ui/link.svg");
    background-size: 16px;
  }

  &--github {
    background-image: url("../assets/icons/dev/github.svg");
  }

  &--android {
    background-image: url("../assets/icons/dev/android.svg");
  }
}

.fab {
  z-index: 2000;
  width: 55px;
  height: 55px;
  background-color: $sec;
  border-radius: 50%;
  position: fixed;
  right: 24px;
  bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  transform: scale(0);

  &:hover {
    transform: scale(1.15);
  }
}

.input-form {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 600;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    border: 1px solid rgb(83, 83, 83);
    border-radius: 6px;
    outline: none;
    padding: 8px;
    transition: all 0.3 ease;

    &:focus {
      border: 1px solid $diw-blue;
      box-shadow: 0px 0px 1px 3px $main;
    }
  }
}

.section-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;

  &--home {
    position: relative;
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
    height: calc(100vh - 90px);
    background-color: #fafafa;

    @media (max-width: 576px) {
      height: 100%;
      padding-top: 75px;
      padding-bottom: 75px;
    }
  }

  &--portfolio {
    z-index: 1000;
    // padding-top: 0;
    // background-color: #ab84ff;
    background-color: #d5c2ff;
  }

  &--about {
    // background-color: #d5c2ff;
    background-color: #e8ddff;

    p {
      margin-top: 20px;
      background-color: #465fa7;
      color: white;
      padding: 16px;
      border-radius: 8px;
      line-height: 1.7;
    }
  }

  &--contact {
    background-color: $c_dark_blue;
    color: white;
  }
}

.section-title {
  font-weight: 800;
  font-size: 50px;

  @media (max-width: 576px) {
    font-size: 28px;
  }

  &--white {
    color: white;
  }
}

.anchor {
  position: relative;
  top: -90px;
  left: 0;
}

.bscroll-horizontal-scrollbar {
  position: relative !important;
  bottom: -5px !important;
}

.tag-list {
  display: flex;
}

.tag {
  width: fit-content;
  border-radius: 24px;
  padding: 3px 12px 3px 36px;
  font-weight: 500;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  background-position: 12px 50%;
  background-size: 16px;
  background-repeat: no-repeat;
  transition: all 0.1s ease;
  background-color: #943DFF;
  margin-right: 6px;
  font-size: 14px;

  &--javascript {
    background-image: url("../assets/icons/dev/js.svg");
  }

  &--php {
    background-image: url("../assets/icons/dev/php.svg");
    background-size: 19px;
  }

  &--java {
    background-image: url("../assets/icons/dev/java.svg");
  }

  &--csharp {
    background-image: url("../assets/icons/dev/csharp.svg");
  }

  &--laravel {
    background-image: url("../assets/icons/dev/laravel.svg");
  }

  &--vue {
    background-image: url("../assets/icons/dev/vuejs.svg");
  }

  &--api {
    background-image: url("../assets/icons/dev/api.svg");
  }

  &--db {
    background-image: url("../assets/icons/dev/db.svg");
    background-size: 13px;
  }

  &--html {
    background-image: url("../assets/icons/dev/html.svg");
  }

  &--css {
    background-image: url("../assets/icons/dev/css.svg");
  }

  &--sass {
    background-image: url("../assets/icons/dev/sass.svg");
  }

  &--backpack {
    background-image: url("../assets/icons/dev/backpack.svg");
    background-size: 32px;
    padding-left: 50px;
  }

  &--net {
    background-image: url("../assets/icons/dev/net.svg");
  }

  &--android {
    background-image: url("../assets/icons/dev/android.svg");
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.blob {
  width: 400px;
  position: absolute;
}

.alert {
  font-family: 'Inter';
  max-width: 650px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #856404;

  button{
    outline: none;
  }

  a {
    font-weight: 500;
    text-decoration: underline;
    color: #856404;
  }
}