@font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter/Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter/Inter-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter/Inter-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter/Inter-ExtraLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter/Inter-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  
  $font: "Inter",
  sans-serif;
  $color-primary: #0B55F3;
  $color-secondary: #5178d6;
  $color-accent: #F4AA0B;
  $color-dark: #24272E;
  $color-light: #749EF8;
  $color-grey: #F5F5F5;
  $c_dark_blue: #131f41;
  
  $js-yellow: #f7df1e;
  $ev-yellow: #e59808;
  $recomercem-red: #B51D19;
  $diw-blue: #2962ff;



  :root{
    --blue: #{$color-primary};
    --lightBlue: #{$color-light};
    --darkBlue: #{$c_dark_blue};
    --yellow: #{$color-accent};
    --jsYellow: #{$js-yellow};
    --evYellow: #{$ev-yellow};
    --recomercemRed: #{$recomercem-red};
  }
  
  @function rem($px) {
    @return $px / $font_size+rem;
  }

  .container{
    width: 100%;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }