@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-ExtraLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

/* SCSS HEX */
:root {
  --blue: #0B55F3;
  --lightBlue: #749EF8;
  --darkBlue: #131f41;
  --yellow: #F4AA0B;
  --jsYellow: #f7df1e;
  --evYellow: #e59808;
  --recomercemRed: #B51D19;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.console-wrapper {
  height: 100vh;
  background-color: #0D1321;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
}

@media (min-width: 576px) {
  .console-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.console-container {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 100%;
  max-width: 900px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border: 1px solid #252525;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(75, 75, 75, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(75, 75, 75, 0.5);
}

.console-container:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(100, 100, 100, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(100, 100, 100, 0.5);
}

.console-container a {
  text-decoration: none;
}

@media (max-width: 576px) {
  .console-container {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    height: 100%;
  }
}

.console-header {
  background-color: #151212;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial;
}

.console-header__icon {
  font-family: 'Courier New', Courier, monospace;
  margin-left: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.console-body {
  height: 100%;
  padding-bottom: 8px;
  font-weight: bold;
  overflow-y: scroll;
  overflow-x: auto;
  background-color: #151212;
}

.console-body__welcome {
  padding: 16px;
  line-height: 1.3;
}

.console-body__prompt {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 30px;
}

.console-body__prompt p {
  margin-top: 3px;
  margin-bottom: 0;
}

#username {
  color: lime;
}

#dir {
  color: aqua;
}

.close-console {
  color: white;
  padding: 8px 20px;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.close-console:hover {
  background-color: red;
  cursor: pointer;
}

.printDirectories span {
  margin-right: 20px;
}

.input-console {
  width: 99%;
  background-color: #151212;
  margin-top: 4px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  outline: none;
  border: none;
  color: lightgray;
}

.blueText {
  color: blue;
}

.orangeText {
  color: orange;
}

.greenText {
  color: lime;
}

.icon {
  fill: white;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.icon:hover {
  fill: #5178d6;
  cursor: pointer;
}

.button {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 1px 3px rgba(128, 128, 128, 0.699);
          box-shadow: inset 0px 0px 1px 3px rgba(128, 128, 128, 0.699);
}

.langBtn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #F5F5F5;
}

.langBtn:hover {
  -webkit-box-shadow: inset 0px 0px 1px 3px #749EF8;
          box-shadow: inset 0px 0px 1px 3px #749EF8;
}

.content {
  padding-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.cardSection-wrapper {
  margin-bottom: 2rem;
  border-radius: 24px;
  background-color: whitesmoke;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.header-icon {
  margin-right: 16px;
}

.diw-header {
  color: white;
  background-color: #2962ff;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
}

.recomercem-header {
  color: white;
  background-color: #B51D19;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
}

.js-header {
  color: black;
  background-color: #f7df1e;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
}

.ev-header {
  color: black;
  background-color: #e59808;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
}

.grid-item {
  color: #24272E;
  background-color: white;
  border-radius: 16px;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  height: 165px;
}

.grid-item:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.grid-container {
  padding: 2rem 2rem 5rem 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media (min-width: 768px) {
  .grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.itemLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fab {
  width: 62px;
  height: 62px;
  background-color: #F44336;
  border-radius: 50%;
  position: fixed;
  right: 24px;
  bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(0);
          transform: scale(0);
}

.fab:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
}

.header {
  background-color: #3e03bd;
  -webkit-box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.75);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  height: 90px;
  padding-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
}

@media (max-width: 768px) {
  .header {
    padding-left: 20px;
  }
}

.header a {
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.header a:hover {
  opacity: 0.6;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 150px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 125px;
  margin-right: 36px;
}

@media (max-width: 768px) {
  .main-nav {
    display: none;
  }
}

.main-nav a {
  margin-right: 20px;
  color: white;
  font-weight: 500;
}

.header-trail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cmd-link-wrapper {
  width: 70px;
  height: 100%;
  background-color: black;
  position: relative;
}

@media (min-width: 576px) {
  .cmd-link-wrapper {
    margin-left: 20px;
  }
}

.cmd-link-wrapper a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.open-menu {
  margin-left: 10px;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/icons/menu.svg");
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media (min-width: 768px) {
  .open-menu {
    display: none;
  }
}

@media (min-width: 576px) {
  .open-menu {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.open-menu:hover {
  cursor: pointer;
  opacity: 0.6;
}

.socials a {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .socials {
    display: none;
  }
}
/*# sourceMappingURL=app.css.map */